<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xys.libzxing"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity android:name=".zxing.activity.CaptureActivity"/>

    </application>

</manifest>
